<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: rgb(26, 25, 25);
      color: white;
      font-size: 1.2em;
      text-align: left;
    }
    a {
      padding: 10px 30px;
      background-color: rgba(245, 222, 179, 0.329);
      color: inherit;
      text-decoration: none;
    }
  </style>
  <title>New Skill</title>
</head>
<body>
  <h1>New Skill</h1>
  <form action="/skills" method="POST" autocomplete="off">
    <input type="text" name="text">
    <button type="submit">Add Skill</button>
  </form>
</body>
</html>